.git
.github
.pytest_cache
.terraform
.venv
__pycache__
*.pyc
*.pyo
.DS_Store
.env
.env.aws
data
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform.tfstate
terraform.tfstate.*
docs/video/*.mp4
